/* I Imported two fonts of spongebob from cdn fonts */
@import url('https://fonts.cdnfonts.com/css/spongebob-font-condensed');
@import url('https://fonts.cdnfonts.com/css/krabby-patty');


/* Body Styles */
body {
    font-family: sans-serif, Arial,sans-serif;
    margin: 0;
    padding: 0;
}

/* Navigation Bar Styles */
nav {
    font-family: 'SpongeBob Font Wide','SpongeBob Font Condensed', sans-serif, Arial,sans-serif;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}

nav img {
    height: 60px;
    z-index: 2;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

nav a:hover {
    color: #008080;
}

/* Header Styles */
header {
    height:90px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 69px;
    background-image: url(./images/ocean-sky.jpeg);

}

header h1 {
    color: white;
    font-family: 'SpongeBob Font Condensed','SpongeBob Font Wide', sans-serif, Arial,sans-serif;
    font-size: 35px;
    text-align: center;
}
/* Footer Styles */
footer {
    color: white;
    font-family: 'SpongeBob Font Condensed','SpongeBob Font Wide', sans-serif, Arial,sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 18px;
    background-image: url(./images/ocean-sky.jpeg);
}
footer a {
    color: white;
    text-decoration: none;
}
footer p {
    margin: 0;
}
/* index*/
.upper-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: auto;
}
.menu-img, .special-offer-video {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    margin-right: 20px;
}
.special-offer h3, .menu-offering h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #008080;
    font-family: 'SpongeBob Font Condensed','SpongeBob Font Wide', sans-serif, Arial,sans-serif;
}
.special-offer p, .menu-offering p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
    color: #BD4932;
    font-family: 'SpongeBob Font Condensed','SpongeBob Font Wide', sans-serif, Arial,sans-serif;
}
/* Reviews Section Styles */
.review {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding:5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 25px;
    margin-bottom: 20px;
}

.review img {
    margin-right: 0;
    margin-bottom: 10px;
    border-radius: 50%;
}

.reviewer {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 0;
}

.review-text {
    margin: 0;
    font-size: 12px;
}

.stars {
    color: #FFD700;
}


/* about us page */
.about-container {
    display: flex;
    align-items: center;
}

.about-image {
    width: 50%;
    border: 3px solid #ddd;
    margin-right: 20px;
}

.about-container p {
    font-size: 14px;
    line-height: 1.5;
    padding-left: 10px;
    padding-right: 8px;
}

/* Menu Page */
.section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.section-title {
    font-size: 30px;
    text-align: center;
    margin-right: 100%;
    padding-bottom: 5%;
    color : #008080;
    font-family: 'SpongeBob Font Condensed','SpongeBob Font Wide', sans-serif, Arial,sans-serif;
}

.item {
    width: 30%;
    margin-bottom: 15px;
    padding: 15px;
    background-color: #f2f2f2;
    border: 1px solid aliceblue;
    border-radius: 10px;
}

.item-name {
    font-size: 20px;
    color : #008200;
    margin-bottom: 15px;
    font-family: 'SpongeBob Font Condensed','SpongeBob Font Wide', sans-serif, Arial,sans-serif;
}
.item-image img {
    width: 100px;
    height: 100px;
}

.item-description {
    font-size: 15px;
    margin-bottom: 15px;
}

.item-price {
    font-size: 16px;
    font-weight: bold;
    color: red;
    font-family: 'SpongeBob Font Condensed','SpongeBob Font Wide', sans-serif, Arial,sans-serif;
}
/* location page */
.krusty-krab,
.krusty-krab-2,
.krusty-Bucket,
.krabby-o-monday-s,
.krusty-towers,
.bubbly-krab,
.five-star-krusty-krab,
.secret-krusty-krab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}
.location-name {
    font-weight: bold;
    font-size: 24px;
    margin-top: 16px;
}

.location-image img {
    max-width: 30%;
    height: auto;
    margin: 0 auto;
    display: block;
    border: black solid 1px;
    border-radius: 10px;
}

.industry,
.founder,
.location,
.address {
    font-size: 20px;
    margin: 8px 0;
}

.employment {
    font-size: 20px;
    margin: 24px 0 8px 0;
}

.current-employment,
.former-employment {
    font-size: 20px;
    margin-top: 16px;
}

.employee-list {
    padding-left: 0;
    margin: 8px 0;
}

.employee-list li {
    font-size: 18px;
    margin-bottom: 8px;
    line-height: 18px;
}

/* staff page */
.team-member img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    float : left;
}
.training img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
section h2 {
    font-size: 25px;
    text-align: center;
    color : rebeccapurple;
    font-family: 'SpongeBob Font Condensed','SpongeBob Font Wide', sans-serif, Arial,sans-serif;
}
.team-member h3, h3 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 0;
    color : #008080;
    font-family: 'SpongeBob Font Condensed','SpongeBob Font Wide', sans-serif, Arial,sans-serif;
}
.nicelook {
    color : #008100;
    font-family: 'SpongeBob Font Condensed','SpongeBob Font Wide', sans-serif, Arial,sans-serif;
}
/* media queries for mobile */
@media (max-width: 480px) {
    nav {
        display: flex;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    nav a {
        margin: 5px;
        font-size: 11px;
    }
    .nav-links {
        font-size: 13px;
    }
    nav img {
        display: none;
    }
    .email {
        display: none;
    }
    .upper-content {
        display: none;
    }
    .special-offer-video, .menu-img {
        flex-direction: column;
        align-items: center;
        margin-right: 0;
    }
    .special-offer, .menu-offering {
        margin-bottom: 20px;
    }
    .section {
        flex-direction: column;
        align-items: center;
    }
    .item {
        width: 80%;
        margin-bottom: 15px;
        margin-right: 60%;
        padding: 5px;
        background-color: #f2f2f2;
        border: 1px solid aliceblue;
        border-radius: 10px;
    }
    .item-image img {
        width: 100px;
        height: 100px;
    }
    .about-container {
        flex-direction: column;
        align-items: center;
    }
    .about-image {
        width: 100%;
        margin-right: 0;
    }
    .about-container p {
        font-size: 14px;
        line-height: 1.5;
        padding-left: 10px;
        padding-right: 8px;
    }
    .team-member img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-bottom: 10px;
        float : left;
    }
    .training img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    section p, .team-member p {
        font-size: 14px;
        margin: 0;
        line-height: 1.5;
        padding-left: 10px;
    }
}